@charset "utf-8";

@font-face {
  font-family: EurostileBold;
  src: 
       url("../fonts/Eurostile MN Extended Bold.ttf");
  font-weight: bold;
}

body {
  background: #646464;
  color: white;
  text-align: left;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif
  }

h1 {
 
  font-family: EurostileBold, Arial, sans-serif;
  text-transform: uppercase;
  white-space: nowrap}
  
header {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  line-height: 75px;
  background: #323232;
  padding: 20px;
  margin: 0px;
  }
  
#header-text {
  font-family: EurostileBold, Arial, sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 4.5em;
  flex: none;
}

#header-image {
  margin: 5px;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  flex: none;
}
