@charset "utf-8";

@font-face {
  font-family: EurostileBold;
  src: 
       url("../fonts/Eurostile MN Extended Bold.ttf");
  font-weight: bold;
}

body {
  background: #646464;
  color: white;
  text-align: left;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif
  padding: 0;
  margin: 0;
  }

h1 {
 
  font-family: EurostileBold, Arial, sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  margin:0;
  padding:0;
  white-space: nowrap}
  
#header {
  line-height:0px;
  height:150px;
  font-size:75px;
  background : #323232;
  padding: 0px;
  margin: 0px;
  }
  
#header-text {
  position: relative;
  top: -50px;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

#header-image {
  margin:25px;
  padding:0;
}
