---
title: Expedition Epsilon
---


<h2>About Expedition Epsilon<br></h2>
<p>
Expedition Epsilon will be a survival game set on Mars, heavily inspired by the book,
"The Martian". Currently, it's only a few small prototypes, but I plan to have a presentable alpha by
mid-August.
</p>
