---
title: Expedition Epsilon
---

<div>
<h2>Under Construction<br></h2>
<p>This site will soon be the homepage for the game "Expedition Epsilon".<br>
Right now, I'm working on making the website. Because I'm a game developer, not a web developer, this may take a while.<br>
<br>
Check back later!</p>
<div>
