---
title: Expedition Epsilon Purchase Page
---

<div style="padding: 20px">
<h2>Purchase "Expedition Epsilon"<br></h2>
<p>
I am currently in the process of finding a payment provider. 
Right now, as the only information available about the game is a few sentences, with no 
images, videos, or demos, I would advise against pre-ordering.
If you really would like to pre-order, you can wait until I secure a payment provider,
or email me at sales@expeditionepsilon.com.
</p>
<div>
